html, body
{
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
}

.my-page
{
	display: none;
}

.my-header
{
	font-size: 18pt;
	text-align: center;
	margin-bottom: 20vh;
}

.my-header-image
{
	width: 100%;
	height: auto;
}

.my-icon-back
{
	position: absolute;
	left: 10px;
	top: 10px;
	width: 12%;
	height: auto;
}


.my-content h1 {

	font-size: 150%;
}

.my-content p, .my-content ul
{
	font-size: 120%;
}

.info-text {
	text-align: center;
	font-size: 16pt;
	padding-top: 10vh;
	color: #336600;

}

.card-rows {
	margin-top: 6vh;
	height: 12vh;
}

.bottom {
	position: absolute;
	bottom: 2vh;
	margin-left: 4vw;
	margin-right: 4vw;

}

.card{
	height: 100%;
	width: 24vw;
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	box-shadow: 2px 2px 3px #888888;
}

.pick {
	position: absolute;
	left: 10vw;
	right:10vw;

}

.dropbox{
	height: 100%;
	width: 24vw;
	border: 2px dashed #aaaaaa;
	border-radius: 2px;
}

#div1 {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}
